version: '3.8'
services:
  mysql:
    image: mysql:8.0
    container_name: petco-mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: Nishu@123
      MYSQL_DATABASE: pet_co
      MYSQL_USER: root
      MYSQL_PASSWORD: Nishu@123
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 10
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
    name: petco_mysql_data
